<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({app,.tmp}) /css/main.css -->
  <link rel="stylesheet" href="/_bower_components/colorbox/example1/colorbox.css">
  <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- endbuild -->

  {% if page.post-image %}
    <style>
      #page-header {
        background-image: url({{ page.post-image }}) !important;
      }
    </style>
  {% endif %}

  <!-- build:js({app,.tmp}) /js/head-scripts.js -->
  <!-- Replace with a custom modernizer build for production -->
  <script src="/_bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

  <script type="text/javascript" src="//use.typekit.net/sck7umt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body class="preload {% if page.post-image %}custom-image{% endif %}">

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <header id="page-header" role="banner">

    <h1>Lynn.io</h1>

    <ul class="social-links">
      <li><a class="ss-icon" href="http://www.github.com/lynnwallenstein" target="github">GitHubOctocat</a></li>
      <li><a class="ss-icon" href="http://www.twitter.com/lynnwallenstein" target="twitter">Twitter</a></li>
      <li><a class="ss-icon" href="http://www.dribbble.com/lynnwallenstein" target="dribbble">Dribbble</a></li>
    </ul>

  </header><!-- /header#page-header-->

  <div id="content-wrapper">

    <nav id="page-navigation">
      <ol>
        <li><a href="/about/index.html">About</a></li>
        <li><a href="/">Posts</a></li>
      </ol>
    </nav>

    <section id="main" role="main">

     {{ content }}

    </section><!-- /div#main -->

    <footer id="page-footer">

    </footer><!-- /footer#page-footer -->

  </div>

  {% include scripts.html %}

  <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '5161d8fbf5a1f51ab200007c');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
  </script>

</body>
</html>
