<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
  <!-- endbuild -->

  {% if page.post-image %}
    <style>
      #page-header {
        background-image: url({{ page.post-image }}) !important;
      }
    </style>
  {% endif %}

  <script type="text/javascript" src="//use.typekit.net/sck7umt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body class="preload {% if page.post-image %}custom-image{% endif %}">

  <header id="page-header" role="banner">

    <a id="title" href="/">
      {% include fuck.svg %}
      <h1>Lynn.io</h1>
    </a>

    <ul class="social-links">
      <li>
        <a class="ss-icon ss-social-circle" href="http://www.github.com/lynnwallenstein" target="github">
          GitHubOctocat
        </a>
      </li>
      <li>
        <a class="ss-icon ss-social-circle" href="http://www.twitter.com/lynnwallenstein" target="twitter">
          Twitter
        </a>
      </li>
      <li>
        <a class="ss-icon ss-social-circle" href="http://www.dribbble.com/lynnwallenstein" target="dribbble">
          Dribbble
        </a>
      </li>
    </ul>

  </header>

  <nav id="page-navigation">
    <ol>
      <li class="{% if page.url == "/about/" %}current{% endif %}">
        <a href="/about/index.html">About</a>
      </li>
      <li class="{% if page.url == "/" %}current{% endif %}">
        <a href="/">Posts</a>
      </li>
    </ol>
  </nav>

  <main id="page-main" role="main">

   {{ content }}

  </main>

  {% include scripts.html %}

</body>
</html>
