// ------------------------------------------------------------------
//  Bodhi - Responsive Design Mixins
// ------------------------------------------------------------------

$compact-width: 1280px;
$phone-width: 360px;
$tablet-width: 1024px;

@mixin bodhi($breakpoint) {

  // Smaller then Avg (1280px) Screens
  @if $breakpoint == compact {
    @media all and (max-width: $compact-width)
      { @content; }
  }

  // Phone
  @if $breakpoint == phone {
    @media all and (max-width: $phone-width)
      { @content; }
  }

  // Nest
  @if $breakpoint == smaller-then-nest {
    @media all and (max-width: $nest-width)
      { @content; }
  }

} // @mixin bodhi($breakpoint)
