// ------------------------------------------------------------------
//  Sizes
// ------------------------------------------------------------------

$nest-width: 640px;

$sidebar-width: 440px;
  $sidebar-width-tablet: 400px;
