// ------------------------------------------------------------------
//  Sizes
// ------------------------------------------------------------------

$content-view-width        : 1280px;
$nest-width                : 700px;
$top-border-size           : 10px;

$sidebar-width             : 430px;

$navigation-height         : 100px;
$navigation-height-compact : 50px;
