// ------------------------------------------------------------------
//  Page Structure
// ------------------------------------------------------------------

html {
  background-color: $white;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  border-top: $top-border-size solid $gray-slate;
  height: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
  min-height: 100%;
  text-align: left;

  @include bodhi(phone) {
    border-top: none;
  }

} // body

#main {
  color: $black;
  display: inline-block;
  float: left;
  height: calc(100% - (#{$navigation-height} + #{$top-border-size}));
  overflow: auto;
  padding-right: calc(100% - (#{$content-view-width} - 20px));
  padding-left: 150px;
  width: calc(100% - #{$sidebar-width});

  @include bodhi(compact) {
    height: auto;
    padding: 0 20px;
    max-width: none;
    min-height: 0;
    width: 100%;
  }

} // #main

