// ------------------------------------------------------------------
//  Page Sidebar
// ------------------------------------------------------------------

#page-sidebar {
  background-image: url("#{$image-path}/color-blocks-halloween.jpg");
  background-position: left top;
  background-size: auto 100%;
  background-repeat: repeat;
  display: block;
  float: left;
  height: 100%;
  min-height: 100%;
  position: relative;
  min-width: 400px;
  max-width: 600px;
  width: 33%;

  h1 {
    $size: 200px;
    background-image: url("#{$image-path}/fuck-halloween.svg");
    background-position: top left;
    background-size: auto $size;
    color: $white;
    font-size: 80px;
    line-height: $size;
    margin: 0;
    padding-left: 200px;
    position: absolute;
      bottom: 200px;
      left: 20px;
  } // h1

  .social-links {
    @extend %list-in-disguise;
    position: absolute;
      right: 20px;
      bottom: 20px;

    li {
      display: inline-block;
      float: left;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

    } // li

    a {
      color: $white;
      font-size: 60px;
      opacity: .5;
      transition: all 0.15s ease-in;

      &:hover {
        opacity: 1;
      }

    } // a

  } // .social-links

} // #page-sidebar
