// ------------------------------------------------------------------
//  Page Template
// ------------------------------------------------------------------

.page {

  img {
    border-radius: 50px;
    float: right;
    max-height: 300px;
    max-width: $nest-width;
    margin: 20px;

    @include bodhi(phone) {
      float: none;
      max-height: 500px;
      margin: auto;
      width: 100%;
    }

  } // img

} // .page
