// ------------------------------------------------------------------
//  Page Header
// ------------------------------------------------------------------

#page-header {
  background-image: url("#{$image-path}/color-blocks.jpg");
  background-position: left top;
  background-size: auto 100%;
  background-repeat: repeat;
  display: block;
  float: left;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: $sidebar-width;

  .custom-image & {
    background-size: 100% auto;
  }

  @include bodhi(compact) {
    background-size: 125px auto;
    background-position: 0 0;
    float: none;
    height: 250px;
    min-height: 0;
    width: 100%;
  }

  @include bodhi(phone) {
    background-size: 65px auto;
    height: 125px;
  }

  #title {
    position: absolute;
      bottom: 200px;
      left: 50px;

    @include bodhi(compact) {
      bottom: 20px;
    }

    @include bodhi(phone) {
      height: 125px;
      bottom: 0;
      left: 0;
    }

  } // #title

  $size: 200px;

  svg {
    display: inline-block;
    float: left;
    height: $size;
    margin-right: 20px;
    width: 125px;

    @include bodhi(phone) {
      height: $size / 2;
      margin-left: 15px;
      width: 75px;
    }

  } // svg

  h1 {
    @extend %font-atrament;
    color: $white;
    display: inline-block;
    font-size: 80px;
    float: left;
    font-weight: 500;
    line-height: $size;
    margin: 0;

    @include bodhi(phone) {
      font-size: 50px;
      line-height: 100px;
    }

  } // h1

  $holiday-list:
    new-years #3e454f,
    valentines-day #3e454f,
    st-patricks-day #3e454f,
    easter #3e454f,
    fourth-of-july #3e454f,
    halloween #393d3d,
    thanksgiving #3e454f,
    christmas #9a052c;

  @each $holiday, $primary-color in $holiday-list {

    @at-root body.#{$holiday} {
      border-top-color: $primary-color;
    }

    body.#{$holiday} & {
      background-image: url("#{$image-path}/color-blocks-#{$holiday}.jpg");
    }

  } // @each

  .social-links {
    @extend %list-in-disguise;
    position: absolute;
      right: 20px;
      bottom: 20px;

    @include bodhi(compact) {
      bottom: 13px;
    }

    @include bodhi(phone) {
      right: 0;
      bottom: 0;
    }

    li {
      display: inline-block;
      float: left;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      @include bodhi(phone) {
        margin-right: 2px;
      }

    } // li

    a {
      color: $white;
      font-size: 60px;
      opacity: .5;
      transition: all 0.15s ease-in;

      &:hover {
        opacity: 1;
      }

      @include bodhi(compact) {
        font-size: 45px;
      }

      @include bodhi(phone) {
        font-size: 30px;
      }

    } // a

  } // .social-links

} // #page-sidebar

#page-navigation {
  @extend %clearfix;
  display: inline-block;
  height: $navigation-height;
  padding-top: 20px;
  padding-right: calc(100% - (#{$content-view-width} - 20px));
  width: calc(100% - #{$sidebar-width});

  @include bodhi(compact) {
    height: $navigation-height-compact;
    padding: 20px 30px 0 30px;
    margin-bottom: 20px;
    width: 100%;
  }

  ol {
    @extend %list-in-disguise;
    float: right;

    li {
      display: inline-block;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        border-bottom: 2px solid $asbestos;
      }

      &.current {
        border-bottom: 2px solid $asbestos;
      }

    } // li

    a {
      @extend %font-atrament;
      color: $black;
      font-size: 22px;
      text-decoration: none;
      text-transform: uppercase;
    } // a

  } // ol

} // #page-navigation
