// ------------------------------------------------------------------
//  Page Sidebar
// ------------------------------------------------------------------

#page-sidebar {
  background-image: url("#{$image-path}/color-blocks.jpg");
  background-position: left top;
  background-size: auto 100%;
  background-repeat: repeat;
  display: block;
  float: left;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: $sidebar-width;

  @include bodhi(tablet) {
    width: $sidebar-width-tablet;
  }

  h1 {
    $size: 200px;
    background-image: url("#{$image-path}/fuck.svg");
    background-position: top left;
    background-size: auto $size;
    color: $white;
    font-size: 80px;
    line-height: $size;
    margin: 0;
    padding-left: 200px;
    position: absolute;
      bottom: 200px;
      left: 20px;
  } // h1

  $holiday-list:
    new-years,
    valentines-day,
    st-patricks-day,
    easter,
    fourth-of-july,
    halloween,
    thanksgiving,
    christmas;

  @each $holiday in $holiday-list {

    body.#{nth($holiday, 1)} & {
      background-image: url("#{$image-path}/color-blocks-#{nth($holiday, 1)}.jpg");

      h1 {
        background-image: url("#{$image-path}/fuck-#{nth($holiday, 1)}.svg");
      }

    } // body.#{nth($holiday, 1)}  {

  } // @each


  .social-links {
    @extend %list-in-disguise;
    position: absolute;
      right: 20px;
      bottom: 20px;

    li {
      display: inline-block;
      float: left;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

    } // li

    a {
      color: $white;
      font-size: 60px;
      opacity: .5;
      transition: all 0.15s ease-in;

      &:hover {
        opacity: 1;
      }

    } // a

  } // .social-links

} // #page-sidebar
