// ------------------------------------------------------------------
//  Post Template
// ------------------------------------------------------------------

.post {

  img {
    max-height: 300px;
    max-width: $nest-width;
    margin: 20px;
  }

} // .post

.post-footer {
  font-size: 13px;
  margin-top: 50px;

  dt {
    float: left;
    width: 150px;
  }

  dd {
    width: calc(100% - 200px;)
  }

} // .post-footer


