// ------------------------------------------------------------------
//  Post Template
// ------------------------------------------------------------------

.post {

  img {
    max-height: 300px;
    max-width: $nest-width;
    margin: 20px;

    @include bodhi(compact) {
      margin: 20px 0;
      max-width: 100%;
    }

  } // img

} // .post

.post-footer {
  font-size: 13px;
  margin-top: 50px;

  @include bodhi(phone) {
    font-size: 11px;
  }

  dt {
    float: left;
    width: 150px;

    @include bodhi(phone) {
      float: none;
      width: 100%;
    }

  } // dt

  dd {
    width: calc(100% - 200px);

    @include bodhi(phone) {
      margin-left: 15px;
      width: 100%;
    }

  } // dd

  .tag-list {
    @extend %list-in-disguise;

    li {
      display: inline-block;
      margin-right: 2px;

      &:after {
        content: ","
      }

      &:last-child {
        margin-right: 0;

        &:after {
          content: "";
        }

      } // &:last-child

    } // li

  }

} // .post-footer


