// ------------------------------------------------------------------
//  Defaults
// ------------------------------------------------------------------

* {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

html {
  background-color: $site-background-color;
  color: $text-color;
  font-family: $body-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: center;
}

body {
  margin: auto;
  padding: 0;
  text-align: left;

  &.preload * {
    transition: none !important;
  }

} // body

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3 {
  color: $headings-font-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
} // h1, h2, h3

h4,
h5,
h6 {
  color: $subheadings-font-color;
  font-family: $subheadings-font-family;
  font-weight: $subheadings-font-weight;
} // h4, h5, h6

a,
a:link {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  } // a:hover

  &:active {
    color: $link-color-active;
  } // a:active

  &:visited {
    color: $link-color-visited;
  } //  a:visited

} // a, a:link

::-moz-selection {
  background-color: $link-color;
  color: $white;
  text-shadow: none;
}

::selection {
  background-color: $link-color;
  color: $white;
  text-shadow: none;
}

hr {
  border: 0;
  border-bottom: 1px solid $white;
  border-top: 1px solid $gray-lightest;
  display: block;
  height: 1px;
  margin: $base-line-height 0;
  padding: 0;
}

// Remove the gap between images and the bottom of their containers: h5bp.com/i/440
img {
  vertical-align: middle;
}

// Remove default fieldset styles.
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Allow only vertical resizing of textareas
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background-color: #ccc;
  color: $black;
  padding: 0.2em 0;
}

// Emoji
.page,
.post {

  .emoji {
    height: 16px;
    margin: 0;
    width: 16px;
  }

} // .page,

code,
pre {
  @extend %font-source-code-pro;
  background-color: $base16-01;
  color: $base16-07;
  font-size: $base-font-size - 2px;
  font-weight: 300;
  padding: 0 3px;
}

pre code {
  background-color: transparent;
  display: block;
  padding: 5px;
}
